.cart {
  cursor: pointer;

  path {
    transition: stroke 0.4s ease-in-out;
  }

  &:hover path {
    stroke: red;
  }
}

.heart {
  cursor: pointer;

  path {
    transition: fill 0.4s ease-in-out;
  }

  &:hover path {
    fill: red;
  }
}

.user {
  cursor: pointer;

  path {
    transition: fill 0.4s ease-in-out;
  }

  &:hover path {
    fill: red;
  }
}
